@import "tailwindcss" theme(static);
@import "@nuxt/ui";

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    color: #36ce89;
  }
  
  a {
    color: #42b883;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .project-list {
      flex-direction: column;
    }
  
    .project-card {
      width: 100%;
    }
  }
  